.OneCol-main {
  display: flex;
  padding: 1rem;
}

.OneCol-main-box {
  background-color: #4d4d4d;
  border-radius: 30px;
  font-size: 2rem;
  width: 100%;
  min-height: fit-content;
  padding: 3rem;
}

.One-col-main-inputs {
  width: 100%;
}

.OneCol-main-form {
  width: 100%;
}

.OneCol-main-buttons {
  display: flex;
  justify-content: center;
}

.OneCol-main-button {
  background-color: #333333;
  color: #ffb700;
  font-weight: 700;
  border-radius: 30px;
  font-size: 2rem;
  padding: 2rem;
}

.span-bold-yellow {
  color: #ffb700;
  font-weight: 700;
}
